.login-page {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 50px;
    margin: 50px;
}

body {
   background: #ffffff;
}

.body {
   /*width: 360px;*/
   /*padding: 30px;*/
   /*background-color: #fff;*/
   /*border-radius: 8px;*/
   /*box-shadow: 0 0 10px rgba(0,0,0,0.1);*/
   border: 2px solid #51f5f5;
   width: 500px;
   border-radius:20px ;
   box-shadow: 0 2px 6px rgba(0,0,0,0.5);
   padding: 30px;
}

.login-box {
   gap: 10px;
   padding: 50px;
}

.login-title {
   color: rgba(0, 255, 255, 0.97);
   font-size: 50px;
   letter-spacing: 1px;     /* 자간 */
   font-weight: 800;
}

.login-sub {
   font-size: 14px;
   color : rgba(8, 8, 8, 0.86);
}

.id_field {
   padding:10px;
}

.pass_field {
}

.button {
   padding: 30px;
}

input[type="text"] {
   padding: 6px 8px;
   border: 2px solid aqua;
   border-radius: 6px;
   box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
}


input[type="password"] {
   padding: 6px 8px;
   border: 2px solid aqua;
   border-radius: 6px;
   box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
}


button[type="submit"] {
   background-color: #00E5E5; /* 배경색 */
   color: white; /* 글자색 */
   border: none; /* 테두리 제거 */
   padding: 10px 20px; /* 안쪽 여백 */
   border-radius: 6px; /* 둥근 모서리 */
   font-size: 16px;
   cursor: pointer; /* 마우스 올리면 손가락 */
   width: 190px;
   box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
}


button[type="submit"]:hover {
   background-color: rgba(0, 255, 255, 0.97);
}


.find {
   display: flex;
   justify-content: center;
   align-content: center;
   gap: 12px;   /* a 태그 사이 간격 */
}

.find a {
   text-decoration: none;
   font-size: 12px;
   color : rgba(8, 8, 8, 0.86);
}

/* 마지막 빼고 | 추가 */
.find a:not(:last-child)::after {
   content: "|";
   margin: 0 4px 0 12px;
   color: black;
}
