/* =========================
   기본 설정
========================= */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body.login-page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f6f7fb;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}


/* =========================
   로그인 카드
========================= */
.login-card {
    width: 460px;
    min-height: 560px;
    padding: 50px 44px;

    background: white;
    border-radius: 20px;

    border: 1px solid rgba(99,102,241,0.2);

    box-shadow:
        0 20px 70px rgba(99,102,241,0.3),
        0 6px 18px rgba(0,0,0,0.05);

    text-align: center;
}


/* =========================
   상단 로고
========================= */
.logo {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.2em;
    color: #6366f1;
    margin-bottom: 20px;
}

/* =========================
   제목
========================= */
.login-title {
    font-size: 30px;
    font-weight: 750;
    margin-bottom: 8px;
    color: black;
}

.login-sub {
    font-size: 15px;
    color: #6b7280;
    margin-bottom: 35px;
}


/* =========================
   입력창
========================= */
.input-group {
    margin-bottom: 16px;
}

input {
    width: 100%;
    height: 50px;
    padding: 0 16px;

    border-radius: 12px;
    border: 1px solid #e5e7eb;
    background: #fafbff;

    font-size: 14px;
    transition: .2s;
    outline: none;
}

input:focus {
    border-color: #6366f1;
    background: white;
    box-shadow: 0 0 0 3px rgba(99,102,241,0.15);
}


/* =========================
   로그인 버튼
========================= */
.login-btn {
    width: 100%;
    height: 50px;
    margin-top: 8px;
    margin-bottom: 26px;

    border-radius: 12px;
    border: none;

    background: linear-gradient(135deg, #6366f1 0%, #4f46e5 100%);
    color: white;

    font-size: 15px;
    font-weight: 600;
    cursor: pointer;

    box-shadow: 0 10px 25px rgba(99,102,241,0.35);
    transition: .2s;
}

.login-btn:hover {
    background: #5850e4;
    transform: translateY(-1px);
    box-shadow: 0 8px 20px rgba(99,102,241,0.25);
}

.login-btn:active {
    transform: translateY(0);
}


/* =========================
   구분선
========================= */
.divider {
    font-size: 12px;
    color: #9ca3af;
    margin-bottom: 30px;
    position: relative;
}

.divider::before,
.divider::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 40%;
    height: 1px;
    background: #e5e7eb;
}

.divider::before { left: 0; }
.divider::after { right: 0; }


/* =========================
   하단 링크
========================= */
.find {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.find a {
    text-decoration: none;
    font-size: 14px;
    color: #6b7280;
    transition: .2s;
}

.find a:hover {
    color: #6366f1;
}
/* | 구분선 */
.find a:not(:last-child)::after {
   content: "|";
   margin-left: 14px;
   color: #d1d5db;
}