
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.layout {
    display: flex;
    height: calc(100vh - 60px);
}

/* 사이드바 */
.sidebar {
    margin:0;
    width: 140px;
    height: auto;
    background: #f5f6f8;
    padding: 20px;
    transition: transform 0.3s ease;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    padding: 10px;
    cursor: pointer;

}

.sidebar li a {
    color: black;
    text-decoration: none;
}

.sidebar li:hover {
    background: #ddd;
}

/* 숨김 상태 */
.sidebar.closed {
    transform: translateX(-100%);
}

/* 콘텐츠 */
.content {
    flex: 1;
    margin:0;
    padding-top: 30px;
    padding-left: 90px;
    /*height: 100%;*/
    overflow-y: auto;
}

/* 전체 */
.board-main {
    max-width: 1200px;
    margin: 50px auto;
    background: white;
    padding: 10px;
    border-radius: 10px;
}

.content h2 {
    margin-bottom: 0;
}

.content p {
    color: #666666;
    margin-top: 5px;
}


.mentor-layout {
    display: flex;
    gap: 30px;
}

/* 멘토 리스트 */
.mentor-list {
    max-width: 1000px;
    flex: 1;
    display: flex;
     align-items: flex-start; /* ← 이거 꼭 각자 높아 유지*/
   justify-content: center;
    gap: 20px;
}

/* 카드 */
.mentor-card {
    width: 200px;
    height: auto;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-y: auto;
    gap: 16px;
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
}

.mentor-card img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    object-fit: cover;
}

.mentor-card .info h3 {
    margin: 0;
}

.job {
    font-size: 14px;
    color: #555;
}

.desc {
    font-size: 13px;
    color: #777;
    margin: 6px 0;
}

.mentor-card button {
    margin-top: 8px;
    padding: 6px 12px;
    border: none;
    border-radius: 6px;
    background: #4a6cf7;
    color: white;
    cursor: pointer;
}

/* 사이드 */
.mentor-side {
display: flex;
    flex-direction: column;
    gap: 20px;
    width: 260px;
    padding: 12px;
    margin-right: 30px;

}

.side-box {
    margin: 0;
    background: #f5f6f8;
    width: 220px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
    gap: 20px;
}
