body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f6f8;
}

.mode-container {
    max-width: 1000px;
    margin: 80px auto;
    text-align: center;
}

.mode-container h2 {
    margin-bottom: 80px;
    color: black;
}

.mode-cards {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.mode-card {
     position: relative;
    width: 260px;
    padding:160px 30px 40px; /* ⬅ 위 padding 크게 */
    /*border: 2px solid black;*/
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.5);
    cursor: pointer;
    overflow: hidden;
    background-color: white;

    background-repeat: no-repeat;
    background-position: center 30px;
    background-size: 140px auto;

    transition: all 0.25s ease;}
/* 모의 모드 */
.mode-card.practice {
    background-image: url("/interview001/notebook.gif");
}

/* 실전 모드 */
.mode-card.real {
    background-image: url("/interview001/tech-support.gif");
}
.mode-card::before {
    content: "";
    position: absolute;
    inset: 0;
    /*background: rgba(0,0,0,0.2);*/
    z-index: 0;
}
.mode-card:hover {
    transform: translateY(-8px);
    /*background: rgba(0,0,0,0);*/
}

.mode-card h3 {
    margin-bottom: 10px;
    font-size: 18px;
    color: #111;
}

.mode-card p {
    font-size: 14px;
    color: #555;
    line-height: 1.5;
}

/* 선택된 카드 */
.mode-card.selected {
    border: 1px solid black;
    box-shadow: 0 8px 20px rgba(74,108,247,0.45);
}

.mode-card h3,
.mode-card p {
    position: relative;
    z-index: 1;
}


/*.mode-card::after {*/
/*    content: "";*/
/*    position: absolute;*/
/*    inset: 0;*/
/*    backdrop-filter: blur(2px);*/
/*}*/