html, body {
    height: 100%;
    margin: 0;
}
body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    background: white;
}
#header {
    flex-shrink: 0; /* 헤더 높이 고정 */
}
.layout {
    display: flex;
    height: calc(100vh - 60px);
}

/* 사이드바 */
.sidebar {
    margin:0;
    width: 140px;
    height: auto;
    background: #f5f6f8;
    padding: 20px;
    transition: transform 0.3s ease;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    padding: 10px;
    cursor: pointer;

}

.sidebar li a {
    color: black;
    text-decoration: none;
}

.sidebar li:hover {
    background: #ddd;
}

/* 숨김 상태 */
.sidebar.closed {
    transform: translateX(-100%);
}

/* 콘텐츠 */
.content {
    overflow-y: auto;
    flex: 1;
   margin:0;
    padding-top: 30px;
    padding-left: 90px;
    height: 100%;
}
/* 전체 그리드 */
.job-grid {
    /*display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));

    gap: 5px;
    padding: 16px;*/
    /*margin-left: 30px;
    margin-right: 30px;*/
    flex: 1;
    display: grid;
  grid-template-columns: repeat(4, 230px);
  gap: 40px;
  justify-content: center;
}

/* 카드 */
.job-card {
    width: 230px;
    height: 300px;
    background: white;
    border-radius: 12px;
    overflow: hidden;
    border: 3px solid #f5f6f8;
    /*box-shadow: 0 4px 12px rgba(0,0,0,0.1);*/
    display: flex;
    flex-direction: column;
}

/* 카드 상단 (로고) */
.card-top {
    flex: 1;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-top img {
    max-width: 100px;
    max-height: 100px;
    object-fit: contain;
}

/* 카드 하단 */
.card-bottom {
    flex: 1;
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #f5f6f8;
}

.company {
    margin: 0;
    font-size: 15px;
    font-weight: bold;
}

.position {
    margin: 4px 0 8px;
    font-size: 13px;
    color: #666;
}

/* 버튼 */
.card-bottom button {
    height: 36px;
    border: none;
    border-radius: 6px;
    background: #555;
    color: white;
    cursor: pointer;
}

/* 페이지 */
.pagination {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-top: 20px;
    width: 100%;
}

.pagination span {
    padding: 6px 10px;
    border: 1px solid #ccc;
    cursor: pointer;
}

.pagination .active {
    background: #333;
    color: white;
}

.content-inner {
  max-width: 1200px;
  margin: 0 auto;
}
