/*#header {
  width: 100%;
  height: 60px;       *//* ⭐ 고정 *//*
  min-height: 60px;
}*/
.header-title {
/*background-color: #f5f6f8;*/
    padding-top: 20px;
}

.header-title h2 {
    margin: 0 0 15px 0; /* 아래 여백 복구 */
    padding:0 20px ;
    font-weight: 500;
}

/* 메뉴바 전체 */
.navbar {
    /*height: 100%;*/
    box-sizing: border-box;
    /*height: 24px;*/
    display: flex;
    /*justify-content: flex-start;               !* 가로 정렬 핵심 *!*/
    justify-content: space-between;
    align-items: center;        /* 세로 중앙 */
    padding: 5px 30px;
    /*background-color: #f5f6f8;*/
    min-width: 1200px;   /* 원하는 최소 너비 */
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

/* 로고 */
.navbar .logo {
    font-size: 20px;
    margin-right: 20px;
    color: black; /* ⭐ 이게 정답 */
}

/* 메뉴 리스트 */
.navbar .menu {
    list-style: none;           /* 점 제거 */
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
    flex-wrap: nowrap;  /* 줄바꿈 방지 */
}

/* 메뉴 링크 */
.navbar .menu li a {
    line-height: 1;
    display: block;
    color: black;
    text-decoration: none;
    white-space: nowrap;
}

.navbar .login_button {
    margin-left: auto;
    padding-right: 20px;
}
.navbar .login_button a {

    color: black;
    text-decoration: none;

}

/* 마우스 올렸을 때 */
.navbar .menu li a:hover {
    color: #00c3ff;
}

/* 로그인 */
.navbar .login {
    cursor: pointer;
}